
.h1 {
  font-size: 38.5px;
}

.h2 {
  font-size: 31.5px;
}

.h3 {
  font-size: 24.5px;
}

.h4 {
  font-size: 17.5px;
}

.h5 {
  font-size: 14px;
}

.h6 {
  font-size: 11.9px;
}
.h1, .h2, .h3 {
    line-height: 40px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}



.main {
  min-height: 450px;
}
footer {
  border-top: 2px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

.req {
  color: #c00;
}


.likert .inline {
  vertical-align: top;
  width: 18%;
  padding: 0;
}
.likert .inline span,
.likert .inline input {
  display: block;
  float: none;
  margin: 0 auto 5px;
  text-align: center;
}



input.parsley-error {
  background-color: #fcc;
}
ul.parsley-error-list {
  margin: 0;
}
ul.parsley-error-list li {
  list-style-type: none;
  color: #c00;
  font-size: 11px;
}
