.main {
  min-height: 300px;
}
footer {
  border-top: 2px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

.req {
  color: #c00;
}

input.parsley-error {
  background-color: #fcc;
}
ul.parsley-error-list {
  margin: 0;
}
ul.parsley-error-list li {
  list-style-type: none;
  color: #c00;
  font-size: 11px;
}